@import "../../App.scss";
.landing {
  min-height: 90vh;
}
.landing img {
  max-width: 460px;
  margin: auto;
}

//Card
.card-landing {
  background-color: $tertiary;
  border-radius: 10px;
  color: $primary;
  transition: transform 0.5s ease;
}
.card-landing:hover {
  transform: scale(1.05);
  cursor: pointer;
}

//Carousel
.my-swiper {
  color: white;
  margin-bottom: 15px;
}

//Contatti
.contatti-card {
  background-color: $tertiary;
  color: $primary;
  border-radius: 10px;
}

.contatti-card img {
  max-width: 400px;
}
//About
.about-card {
  background-color: $tertiary;
  color: $primary;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.about-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
