@import "../../App.scss";
.project-detail {
  min-height: 90vh;
}

//Titoli & Descrizione
.project-detail .title {
  color: $primary;
  filter: brightness(0.8);
}
.project-detail .description {
  color: $primary;
  filter: brightness(0.9);
}
.project-detail .title img {
  width: 300px;
}

//Cover
.project-detail .cover img {
  width: 100%;
  height: 380px;
  object-fit: contain;
  filter: brightness(0.9);
}

//project-img
.project-detail .project-card img {
  width: 400px;
  height: 200px;
  filter: brightness(0.7);
  cursor: pointer;
}

//BUTTON
.project-detail button {
  background-color: #ffe8e8;
  color: $primary;
  border-color: $primary;
  font-size: larger;
  border-radius: 50px;
  padding-inline: 20px;
  transition: transform 0.5s ease;
}
.project-detail button:hover {
  background-color: #ffe8e8;
  color: $primary;
  border-color: $primary;
  transform: scale(1.1);
}

//span
.project-detail span {
  color: $tertiary;
}

//-----MEDIA QUERIES-----
//Mobile
@media (max-width: 768px) {
  .project-detail .title h1 {
    text-align: end;
  }
  .project-detail .title button {
    margin-top: 10px !important;
    font-size: 1rem;
    border-radius: 10px;
  }
  .project-detail .title img {
    width: 200px;
  }
  .project-detail .cover img {
    height: unset;
  }
  .project-detail .cover {
    margin-block: 30px;
  }
  .project-detail .description {
    font-size: 0.8rem;
  }
  .project-detail .images {
    flex-direction: column;
    gap: 30px;
    margin-top: unset !important;
    margin-bottom: 40px;
  }
  .project-detail .video-project {
    display: none !important;
  }
  .project-detail .project-card {
    width: 100% !important;
  }
  .project-detail .project-card img {
    cursor: unset;
  }
}
//Tablet
@media (min-width: 768px) and (max-width: 1024px) {
  .project-detail .title {
    justify-content: center !important;
    align-items: start !important;
  }
  .project-detail .title img {
    width: 250px;
  }
  .project-detail .title button {
    margin-top: 10px !important;
  }
  .project-detail .images {
    flex-direction: column;
    gap: 30px;
  }
  .project-detail .project-card {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .project-detail .project-card img {
    cursor: unset;
    width: 70vw;
    height: 300px;
    object-fit: cover;
  }
  .project-detail .video-project {
    width: 90%;
  }
}
//Monitor
@media (min-width: 1600px) {
  .project-detail .title img {
    width: 400px;
  }

  .project-detail .cover img {
    height: 500px !important;
  }
  .project-detail .description {
    font-size: 1.2rem;
  }
}
