@import "../../App.scss";
.project-detail {
  min-height: 90vh;
}

//Titoli & Descrizione
.project-detail .title {
  color: $primary;
  filter: brightness(0.8);
}
.project-detail .description {
  color: $primary;
  filter: brightness(0.9);
}
.project-detail .title img {
  width: 300px;
}

//Cover
.project-detail .cover img {
  width: 100%;
  height: 330px;
  object-fit: contain;
  filter: brightness(0.9);
}

//project-img
.project-detail .project-card img {
  width: 400px;
  height: 200px;
  filter: brightness(0.7);
  cursor: pointer;
}

.zoom-container {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.zoom-wrapper {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-size 0.3s ease;
}

.main-image {
  display: block;
  width: 100%;
  height: 330px;
  object-fit: contain;
  opacity: 0; // nasconde l'immagine visiva, mostra solo lo sfondo zoomato
  cursor: zoom-in; // lente classica
}

.zoom-container:hover .main-image {
  opacity: 0; // garantisce che l'immagine sotto non venga mostrata
}
