@import "../../App.scss";

.about {
  min-height: 90vh;
  color: $primary;
}

//titols
.about .title h2 {
  letter-spacing: 1px;
  filter: brightness(0.9);
}
.about .title span {
  color: $tertiary;
}

//description
.about .description {
  margin-top: 1rem;
  filter: brightness(0.9);
}
.about .description strong {
  color: $tertiary;
}

.about .me {
  width: 450px;
  height: 700px;
}
.about .me img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}
