@import "../../App.scss";

.my-nav {
  color: $primary;
  background-color: $secondary;
  height: 10vh;
  font-family: "Bricolage";
}
//MEDIA QUERIES
@media (max-width: 768px) {
  .my-nav h6 {
    font-size: 0.6rem;
  }
  .my-nav h3 {
    font-size: 1.3rem;
  }
}
