@import "./Style/Variables.scss";

//GLOBAL
.body {
  background-color: $secondary;
  font-family: "Bricolage";
}
a {
  text-decoration: none;
  color: unset;
}

//FONT
@font-face {
  font-family: "Bricolage";
  src: url("./Assets/Font/BricolageGrotesque.ttf") format("truetype");
}

//SPAN
.span-custom {
  color: $tertiary !important;
  font-weight: bold;
  filter: brightness(0.8);
}
